/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
html, body { height: 100%;
    @include mat.button-toggle-overrides((
        selected-state-background-color: #005CBB,
        selected-state-text-color: #ffb703,
        text-color:#005CBB,
        ));
    @include mat.slider-overrides((
        ripple-color: orange,
        value-indicator-opacity:0%
        ));
    }


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
