<div class="city-item">
  <mat-card>
      <div class="photo">
          <img src="img/foto.png">
      </div>
      <div class="detail">
          <div class="title">{{city.name}}</div>
          <div class="properties">
            <p><strong>ID:</strong> {{ city.id }}</p>
            <p><strong>Name:</strong> {{ city.name }}</p>
            <p><strong>Country ID:</strong> {{ city.idCountry }}</p>
            <p><strong>Country Name:</strong> {{ city.nameCountry }}</p>
          </div>
      </div>
  </mat-card>
</div>